.form-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inner {
  max-width: 500px;
  width: 100%;
  height: fit-content;
  // border: 1px solid #000;
  background: linear-gradient(270deg, rgba(0, 194, 255, 0.72) -4.59%, #346dff 107.16%);
  box-shadow: 0px 0px 50px -2px #9ecffd;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.form-inner input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: rgb(172, 172, 172);
  font-weight: 300;
}

.form-inner button {
  width: 100px;
  margin: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  color: #525252;
  font-size: 18px;
}

.errorBorder {
  border: 3px solid #f74d4d;
}

.errorTrue {
  animation: shake 0.2s;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
